.container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 10px;
}

.phone {
  background-color: hsl(209, 77%, 68%);
  margin-bottom: 13px;
}

.name {
  /* margin-right: 20px; */
  padding-top: 10px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
